body {
    text-align: center;
}

table, th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin-top: 30px;
    margin-left: 2% ;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
    background-color: #04AA6D;
    color: white;
}

#listpage {
    text-align: left;
    margin-left: 2%;
}

#logo {
   alignment: center;
    height: auto;
    width: 200px;
    margin-top: 100px;
}

.myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
}

.welcome {
    text-align: center;
    border-width: 5px;
    border-radius: 15px;
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    font-weight: bold;
}


.forms {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: flow;
    font-size: 26px;
    margin: 4px 2px;
}

.buttonroom {
    padding: 10px;
}

#transactions {
    margin-top: 300px;

}

.btn {
    font-family: 'Urbanist', sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding: 5px 5px;
    font-weight: bold;
    border-radius: 8px;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    position: absolute;
    top: 20%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}